<h3>HOME PAGE</h3>
{{!-- {{#each data}}
<h1>
    Welcome {{this.Account}}
    <a href = 'logout'>
        Đăng xuất
    </a>
</h1>
<tr>
    <th scope="row">{{this.AccountID}}</th>
    <td>{{this.EmpID}}</td>
    <td>{{this.Account}}</td>
    <td>{{this.Password}}</td>
</tr>
{{/each}} --}}